<a href="#" class="another" onclick="ga('send', 'event', 'phrase', 'reload');">Another, please</a>
<a href="https://twitter.com/intent/tweet?text=My%20Magento-based%20business%20should%20be%20named%20{{phrase}}!%20Find%20yours%20at%20" class="twitter-share-button" data-size="large">Tweet to @philwinkle</a>
<iframe src="http://ghbtns.com/github-btn.html?user=philwinkle&repo=magename&type=watch&count=true&size=large"
allowtransparency="true" frameborder="0" scrolling="0" width="120" height="30"></iframe>