h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  text-align: center; }

h1 {
  font-weight: bold;
  font-size: 3em; }

h2 {
  font-weight: bolder;
  font-size: 6em;
  margin: 0; }

.container {
  min-width: 16em;
  margin: 0 auto;
  text-align: center; }

.row {
  height: 2em;
  overflow: hidden;
  text-align: center;
  margin: 0; }

@media (max-width: 600px) {
  body {
    font-size: 12px; }

  h2 {
    font-size: 5em; } }
